@media (max-width: 480px) {

  body {
    padding: 0 1rem;
  }


  .navbar {
    display: none;
  }



  .hero img {
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
  }

  .hero h1 {
    font-size: 2.5rem;
    width: 100%;
  }

  .hero p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .hero-action {
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
  }


  .mywork {
    margin: 2rem 1rem;
    gap: 3rem;
  }

  .mywork-title h1 {
    font-size: 2rem;
  }

  .mywork-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-items: center;
  }

  .mywork-container img {
    width: 100%;
    height: auto;
  }


  .about {
    margin: 2rem 1rem;
    gap: 3rem;
  }

  .about-title h1 {
    font-size: 2.5rem;
  }

  .about-sections {
    flex-direction: column;
    gap: 3rem;
  }

  .about-para {
    font-size: 1rem;
  }

  .about-skill p {
    font-size: 1.2rem;
  }

  .about-achievements {
    flex-direction: column;
    gap: 2rem;
  }

  .about-achievement h1 {
    font-size: 2.5rem;
  }
}
