.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   gap: 5rem;          
margin: 5rem 4rem;  

}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0em 2rem;
    font-size: 3rem;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2.5rem;
}
.mywork-container img{
    box-sizing: border-box;
   width: 26rem;
height: 17rem;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    transition: 0.3s;
}