.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 5rem 10.625rem;
}

.about-title {
    position: relative;
}

.about-title h1 {
    padding: 0rem 1.875rem; 
    font-size: 5rem; 
    font-weight: 600;
}

.about-sections {
    display: flex;
    gap: 5rem; 
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; 
    font-size: 1.25rem; 
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; 
}

.about-skill p {
    min-width: 9.375rem; 
    font-size: 1.5rem; 
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 0.5rem; 
    border-radius: 3.125rem; 
    background: linear-gradient(264deg, #DF8908, #B415FF);
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 5rem; 
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem; 
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 3.75rem; 
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908, #B415FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p {
    font-size: 1.375rem; 
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement:hover {
    transform: scale(1.12);
    transition: 0.5s;
}
