.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00Dbff;
 height: 3rem;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap:4em;
    font-family: 2rem;
}


.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    cursor: pointer;
}
.anchor-link {
    text-decoration: none;
    color: black;
}